<%- include ../partials/head.ejs %>
</head>
<body>
  <%- include ../partials/header.ejs %>
  <div class="container mt-5">
  <div class="jumbotron p-4">
    <h2>Admin Dashboard</h2>
  </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Western Stations</h2>
        <ul class="list-group">
          <% westernStations.forEach(s => { %>
            <li class="list-group-item shadow-sm mt-2 bg-light"><%= s.name %> : <%= s.places.length %> Places <div class="d-inline float-right"><a href="/admin/station-edit/<%= s._id %>" target="_blank">Edit <i class="fas fa-external-link-alt"></i></a></div></li>
          <% });%>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Central Stations</h2>
        <ul class="list-group">
          <% centralStations.forEach(s => { %>
            <li class="list-group-item shadow-sm mt-2 bg-light"><%= s.name %> : <%= s.places.length %> Places<div class="d-inline float-right"><a href="/admin/station-edit/<%= s._id %>" target="_blank">Edit <i class="fas fa-external-link-alt"></i></a></div></li>
          <% });%>
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Harbour Stations</h2>
        <ul class="list-group">
          <% harbourStations.forEach(s => { %>
            <li class="list-group-item shadow-sm mt-2 bg-light"><%= s.name %> : <%= s.places.length %> Places<div class="d-inline float-right"><a href="/admin/station-edit/<%= s._id %>" target="_blank">Edit <i class="fas fa-external-link-alt"></i></a></div></li>
          <% });%>
        </ul>
      </div>
    </div>
  </div>
<%- include ../partials/footer.ejs %>