<%- include ../partials/head.ejs %>
</head>
<body>
  <%- include ../partials/header.ejs %>
  <div class="container">
    <div class="jumbotron mt-5">
      <h1>Mumbai Margdarshan.</h1>
      <p>Search for local train routes.</p>
    </div>
    <form action="/api/discover" method="POST">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fromstation">From</label>
          <select name="fromstation" class="form-control">
            <option>---Select Station---</option>
            <% stations.forEach(station => { %>
              <option value="<%= station._id %>"><%= station.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="tostation">To:</label>
          <select name="tostation" class="form-control">
            <option>---Select Station---</option>
            <% stations.forEach(station => { %>
              <option value="<%= station._id %>"><%= station.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Search route!</button>
      </div>
    </form>
  </div>
  <%- include ../partials/footer.ejs %>